body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.card {
  position: relative;
  width: 40%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .35);
}

/* Creating white lines */
.card::before,
.card::after {
  content: '';
  position: absolute;
  border: 1px solid white;
}

.card::before {
  top: 1rem;
  bottom: 1rem;
  right: 1.5rem;
}

.card::after {
  bottom: 1.5rem;
  left: 1rem;
  right: 1rem;
}
/* ********************** */

.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  /* object-fit displays img as cover without stretching img */
  object-fit: cover; 
  z-index: -1;
}

/* body of the text */
.card__body {
  background: rgba(0,0,0, .5);
  color: white;
  padding: 3rem;
}

.card__title,
.card__text {
  margin: 0;
}

.card__title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: .5em;
  position: relative;
  /* for layering between card__title and its before */
  z-index: 1;
  color: black;
}

.card__title::before {
  content: '';
  position: absolute;
  background: yellow;
  /* adding addition 5rem to width */
  width: calc(100% + 5rem);
  top: -.1em;
  bottom: -.15em;
  left: -5rem;
  z-index: -1;
  /* inset puts shadow inside the element box */
  box-shadow: inset -15px 0 10px -10px rgba(0, 0, 0,.5);
}

.card__title::after {
  content: '';
  position: absolute;
  top: -.1em;
  bottom: -.15em;
  left: calc(100% + 3rem);
  width: 3rem;
  background: yellow;
  box-shadow: inset 12px 0 10px -10px rgba(0, 0, 0,.5);
} 

.card__text {
  text-align: right;
}